In [3]:
#키별 통계량 산출
import pandas as pd

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", header=None)
df.columns = ["", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium", "Total phenols",
             "Flavanoids", "Nonflavanoid phenols", "Proanthocyanins", "Color intensity", "Hue", 
              "OD280/OD315 of diluted wines", "Proline"]

print(df["Magnesium"].mean())

99.74157303370787

In [5]:
#중복 데이터
import pandas as pd
from pandas import DataFrame

dupli_data = DataFrame({"col1":[1, 1, 2, 3, 4, 4, 6, 6, 7, 7, 7, 8, 9, 9],
                       "col2":["a", "b", "b", "b", "c", "c", "b", "b", "d", "d", "c", "b", "c", "c"]})

dupli_data.drop_duplicates()

    col1 col2
0      1    a
1      1    b
2      2    b
3      3    b
4      4    c
6      6    b
8      7    d
10     7    c
11     8    b
12     9    c

In [7]:
#매핑
import pandas as pd
from pandas import DataFrame

attri_data1 = {"ID":["100", "101", "102", "103", "104", "106", "108", "110", "111", "113"],
              "city":["서울", "부산", "대전", "광주", "서울", "서울", "부산",
                     "대전", "광주", "서울"],
              "birth_year":[1990, 1989, 1992, 1997, 1982, 1991, 1988, 1990, 1995, 1981],
              "name":["영이", "순돌", "짱구", "태양", "션", "유리", "현아", "태식", "민수", "호식"]}

attri_data_frame1 = DataFrame(attri_data1)

MS_map = {"서울":"중부",
         "광주":"남부",
         "부산":"남부", 
         "대전":"중부"}
attri_data_frame1["MS"] = attri_data_frame1["city"].map(MS_map)

attri_data_frame1

    ID city  birth_year name  MS
0  100   서울        1990   영이  중부
1  101   부산        1989   순돌  남부
2  102   대전        1992   짱구  중부
3  103   광주        1997   태양  남부
4  104   서울        1982    션  중부
5  106   서울        1991   유리  중부
6  108   부산        1988   현아  남부
7  110   대전        1990   태식  중부
8  111   광주        1995   민수  남부
9  113   서울        1981   호식  중부

In [9]:
#구간 분할
import pandas as pd
from pandas import DataFrame

attri_data1 = {"ID":[100, 101, 102, 103, 104, 106, 108, 110, 111, 113],
              "city": ["서울", "부산", "대전", "광주", "서울", "서울", "부산", "대전", "광주", "서울"],
              "birth_year":[1990, 1989, 1992, 1997, 1982, 1991, 1988, 1990, 1995, 1981],
              "name":["영이", "순돌", "짱구", "태양", "션", "유리", "현아", "태식", "민수", "호식"]}

attri_data_frame1 = DataFrame(attri_data1)

pd.cut(attri_data_frame1.ID, 2)

0    (99.987, 106.5]
1    (99.987, 106.5]
2    (99.987, 106.5]
3    (99.987, 106.5]
4    (99.987, 106.5]
5    (99.987, 106.5]
6     (106.5, 113.0]
7     (106.5, 113.0]
8     (106.5, 113.0]
9     (106.5, 113.0]
Name: ID, dtype: category
Categories (2, interval[float64]): [(99.987, 106.5] < (106.5, 113.0]]

In [3]:
import pandas as pd
import numpy as np
from numpy import nan as NA

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", header=None)
df = df.reset_index(drop=True)
#각각의 수차기 무엇을 나타내는지 컬럼에 추가하기
df.columns = ["", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium", "Total phenols", "Flavanoids", 
              "Nonflavanoid phenols", "Proanthocyanins", "Color intensity", "Hue", "0D280/OD315 of diluted wines", "Proline"]

#변수 df의 상위 10행을 변수 df_ten에 대입하여 표시
df_ten = df.head(10)
print(df_ten)

#데이터의 일부를 누락시키기
df_ten.iloc[1, 0] = NA
df_ten.iloc[2, 3] = NA
df_ten.iloc[4, 8] = NA
df_ten.iloc[7, 3] = NA
print(df_ten)

#fillna() 메서드로 NaN 부분에 열의 평균값 대입
df_ten.fillna(df_ten.mean())
print(df_ten)

#"Alcohol" 열의 평균 출력
print(df_ten["Alcohol"].mean())

#중복된 행 제거
df_ten.append(df_ten.loc[3])
df_ten.append(df_ten.loc[6])
df_ten.append(df_ten.loc[9])
df_ten = df_ten.drop_duplicates()
print(df_ten)

#Alcohol 열의 구간 리스트 작성
alcohol_bins = [0, 5, 10, 15, 20, 25]
alcohol_cut_data = pd.cut(df_ten["Alcohol"], alcohol_bins)

#구간수를 집계하여 출력
print(pd.value_counts(alcohol_cut_data))

      Alcohol  Malic acid   Ash  Alcalinity of ash  Magnesium  Total phenols  \
0  1    14.23        1.71  2.43               15.6        127           2.80
1  1    13.20        1.78  2.14               11.2        100           2.65
2  1    13.16        2.36  2.67               18.6        101           2.80
3  1    14.37        1.95  2.50               16.8        113           3.85
4  1    13.24        2.59  2.87               21.0        118           2.80
5  1    14.20        1.76  2.45               15.2        112           3.27
6  1    14.39        1.87  2.45               14.6         96           2.50
7  1    14.06        2.15  2.61               17.6        121           2.60
8  1    14.83        1.64  2.17               14.0         97           2.80
9  1    13.86        1.35  2.27               16.0         98           2.98

   Flavanoids  Nonflavanoid phenols  Proanthocyanins  Color intensity   Hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04
5        3.39                  0.34             1.97             6.75  1.05
6        2.52                  0.30             1.98             5.25  1.02
7        2.51                  0.31             1.25             5.05  1.06
8        2.98                  0.29             1.98             5.20  1.08
9        3.15                  0.22             1.85             7.22  1.01

   0D280/OD315 of diluted wines  Proline
0                          3.92     1065
1                          3.40     1050
2                          3.17     1185
3                          3.45     1480
4                          2.93      735
5                          2.85     1450
6                          3.58     1290
7                          3.58     1295
8                          2.85     1045
9                          3.55     1045
        Alcohol  Malic acid   Ash  Alcalinity of ash  Magnesium  \
0  1.0    14.23        1.71  2.43               15.6        127
1  NaN    13.20        1.78  2.14               11.2        100
2  1.0    13.16        2.36   NaN               18.6        101
3  1.0    14.37        1.95  2.50               16.8        113
4  1.0    13.24        2.59  2.87               21.0        118
5  1.0    14.20        1.76  2.45               15.2        112
6  1.0    14.39        1.87  2.45               14.6         96
7  1.0    14.06        2.15   NaN               17.6        121
8  1.0    14.83        1.64  2.17               14.0         97
9  1.0    13.86        1.35  2.27               16.0         98

   Total phenols  Flavanoids  Nonflavanoid phenols  Proanthocyanins  \
0           2.80        3.06                  0.28             2.29
1           2.65        2.76                  0.26             1.28
2           2.80        3.24                  0.30             2.81
3           3.85        3.49                  0.24             2.18
4           2.80        2.69                   NaN             1.82
5           3.27        3.39                  0.34             1.97
6           2.50        2.52                  0.30             1.98
7           2.60        2.51                  0.31             1.25
8           2.80        2.98                  0.29             1.98
9           2.98        3.15                  0.22             1.85

   Color intensity   Hue  0D280/OD315 of diluted wines  Proline
0             5.64  1.04                          3.92     1065
1             4.38  1.05                          3.40     1050
2             5.68  1.03                          3.17     1185
3             7.80  0.86                          3.45     1480
4             4.32  1.04                          2.93      735
5             6.75  1.05                          2.85     1450
6             5.25  1.02                          3.58     1290
7             5.05  1.06                          3.58     1295
8             5.20  1.08                          2.85     1045
9             7.22  1.01                          3.55     1045
        Alcohol  Malic acid   Ash  Alcalinity of ash  Magnesium  \
0  1.0    14.23        1.71  2.43               15.6        127
1  NaN    13.20        1.78  2.14               11.2        100
2  1.0    13.16        2.36   NaN               18.6        101
3  1.0    14.37        1.95  2.50               16.8        113
4  1.0    13.24        2.59  2.87               21.0        118
5  1.0    14.20        1.76  2.45               15.2        112
6  1.0    14.39        1.87  2.45               14.6         96
7  1.0    14.06        2.15   NaN               17.6        121
8  1.0    14.83        1.64  2.17               14.0         97
9  1.0    13.86        1.35  2.27               16.0         98

   Total phenols  Flavanoids  Nonflavanoid phenols  Proanthocyanins  \
0           2.80        3.06                  0.28             2.29
1           2.65        2.76                  0.26             1.28
2           2.80        3.24                  0.30             2.81
3           3.85        3.49                  0.24             2.18
4           2.80        2.69                   NaN             1.82
5           3.27        3.39                  0.34             1.97
6           2.50        2.52                  0.30             1.98
7           2.60        2.51                  0.31             1.25
8           2.80        2.98                  0.29             1.98
9           2.98        3.15                  0.22             1.85

   Color intensity   Hue  0D280/OD315 of diluted wines  Proline
0             5.64  1.04                          3.92     1065
1             4.38  1.05                          3.40     1050
2             5.68  1.03                          3.17     1185
3             7.80  0.86                          3.45     1480
4             4.32  1.04                          2.93      735
5             6.75  1.05                          2.85     1450
6             5.25  1.02                          3.58     1290
7             5.05  1.06                          3.58     1295
8             5.20  1.08                          2.85     1045
9             7.22  1.01                          3.55     1045
13.954000000000002
        Alcohol  Malic acid   Ash  Alcalinity of ash  Magnesium  \
0  1.0    14.23        1.71  2.43               15.6        127
1  NaN    13.20        1.78  2.14               11.2        100
2  1.0    13.16        2.36   NaN               18.6        101
3  1.0    14.37        1.95  2.50               16.8        113
4  1.0    13.24        2.59  2.87               21.0        118
5  1.0    14.20        1.76  2.45               15.2        112
6  1.0    14.39        1.87  2.45               14.6         96
7  1.0    14.06        2.15   NaN               17.6        121
8  1.0    14.83        1.64  2.17               14.0         97
9  1.0    13.86        1.35  2.27               16.0         98

   Total phenols  Flavanoids  Nonflavanoid phenols  Proanthocyanins  \
0           2.80        3.06                  0.28             2.29
1           2.65        2.76                  0.26             1.28
2           2.80        3.24                  0.30             2.81
3           3.85        3.49                  0.24             2.18
4           2.80        2.69                   NaN             1.82
5           3.27        3.39                  0.34             1.97
6           2.50        2.52                  0.30             1.98
7           2.60        2.51                  0.31             1.25
8           2.80        2.98                  0.29             1.98
9           2.98        3.15                  0.22             1.85

   Color intensity   Hue  0D280/OD315 of diluted wines  Proline
0             5.64  1.04                          3.92     1065
1             4.38  1.05                          3.40     1050
2             5.68  1.03                          3.17     1185
3             7.80  0.86                          3.45     1480
4             4.32  1.04                          2.93      735
5             6.75  1.05                          2.85     1450
6             5.25  1.02                          3.58     1290
7             5.05  1.06                          3.58     1295
8             5.20  1.08                          2.85     1045
9             7.22  1.01                          3.55     1045
(10, 15]    10
(20, 25]     0
(15, 20]     0
(5, 10]      0
(0, 5]       0
Name: Alcohol, dtype: int64

C:\Users\HOME\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)