In [2]:
#특정 행 얻기

import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#dataFrame을 생성하고 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

#df의 첫 3행을 취득하여 df_head에 대입
df_head = df.head(3)

#df의 끝 3행을 취득하여 df_tail에 대입
df_tail = df.tail(3)

#출력
print(df_head)
print()
print(df_tail)

   apple  orange  banana  strawberry  kiwifruit
1      6       8       6           3         10
2      1       7      10           4         10
3      4       9       9           9          1

    apple  orange  banana  strawberry  kiwifruit
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

In [6]:
#계산 처리하기
import numpy as np
import pandas as pd
import math

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#DataFrame 생성, 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

#df의 각 요소를 두 배로 만들어 double_df에 대입
double_df = df * 2

#df의 각 요소를 제곱하여 square_df에 대입
square_df = df ** 2

#df의 각 요소를 제곱근 계산하여 sqrt_df에 대입
sqrt_df = np.sqrt(df)

#출력
print(double_df)
print()
print(square_df)
print()
print(sqrt_df)

    apple  orange  banana  strawberry  kiwifruit
1      12      16      12           6         20
2       2      14      20           8         20
3       8      18      18          18          2
4       8      18      20           4         10
5      16       4      10           8         16
6      20      14       8           8          8
7       8      16       2           8          6
8      12      16       8          16         16
9       6      18      12           2          6
10     10       4       2           4          2

    apple  orange  banana  strawberry  kiwifruit
1      36      64      36           9        100
2       1      49     100          16        100
3      16      81      81          81          1
4      16      81     100           4         25
5      64       4      25          16         64
6     100      49      16          16         16
7      16      64       1          16          9
8      36      64      16          64         64
9       9      81      36           1          9
10     25       4       1           4          1

       apple    orange    banana  strawberry  kiwifruit
1   2.449490  2.828427  2.449490    1.732051   3.162278
2   1.000000  2.645751  3.162278    2.000000   3.162278
3   2.000000  3.000000  3.000000    3.000000   1.000000
4   2.000000  3.000000  3.162278    1.414214   2.236068
5   2.828427  1.414214  2.236068    2.000000   2.828427
6   3.162278  2.645751  2.000000    2.000000   2.000000
7   2.000000  2.828427  1.000000    2.000000   1.732051
8   2.449490  2.828427  2.000000    2.828427   2.828427
9   1.732051  3.000000  2.449490    1.000000   1.732051
10  2.236068  1.414214  1.000000    1.414214   1.000000

In [8]:
#통계 정보 얻기

import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#DataFrame 생성, 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

#df의 통계 정보 중 "mean", "max", "min"을 꺼내서 df_des에 대입
df_des = df.describe().loc[["mean", "max", "min"]]

print(df_des)

      apple  orange  banana  strawberry  kiwifruit
mean    5.1     6.9     5.6         4.1        5.3
max    10.0     9.0    10.0         9.0       10.0
min     1.0     2.0     1.0         1.0        1.0

In [12]:
#DataFrame의 행간 차이와 열간 차이

import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#DataFrame 생성, 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

#df의 각 행에 대해 2행 뒤와의 차이를 계산한 DataFrame을 df_diff에 대입
df_diff = df.diff(-2, axis=0)

#df와 df_diff의 내용 비교, 처리 결과 확인
print(df)
print()
print(df_diff)

    apple  orange  banana  strawberry  kiwifruit
1       6       8       6           3         10
2       1       7      10           4         10
3       4       9       9           9          1
4       4       9      10           2          5
5       8       2       5           4          8
6      10       7       4           4          4
7       4       8       1           4          3
8       6       8       4           8          8
9       3       9       6           1          3
10      5       2       1           2          1

    apple  orange  banana  strawberry  kiwifruit
1     2.0    -1.0    -3.0        -6.0        9.0
2    -3.0    -2.0     0.0         2.0        5.0
3    -4.0     7.0     4.0         5.0       -7.0
4    -6.0     2.0     6.0        -2.0        1.0
5     4.0    -6.0     4.0         0.0        5.0
6     4.0    -1.0     0.0        -4.0       -4.0
7     1.0    -1.0    -5.0         3.0        0.0
8     1.0     6.0     3.0         6.0        7.0
9     NaN     NaN     NaN         NaN        NaN
10    NaN     NaN     NaN         NaN        NaN

In [14]:
#그룹화

import pandas as pd

#도시 정보를 가진 DataFrame 만들기
prefecture_df = pd.DataFrame([["강릉", 1040, 213527, "강원도"],
                            ["광주", 430, 1458915, "전라도"],
                            ["평창", 1463, 42218, "강원도"],
                            ["대전", 539, 1476955, "충청도"],
                            ["단양", 780, 29816, "충청도"]],
                           columns=["perfecture", "Area", "Population", "Region"])

print(prefecture_df)

#prefecture_df를 지역(Region)으로 그룹화하여 grouped_region에 대입
grouped_region = prefecture_df.groupby("Region")

#prefecture_df의 지역별 면적(Area)과 인구(Population)의 평균을 mean_df에 대입
mean_df = grouped_region.mean()

print(mean_df)

  perfecture  Area  Population Region
0         강릉  1040      213527    강원도
1         광주   430     1458915    전라도
2         평창  1463       42218    강원도
3         대전   539     1476955    충청도
4         단양   780       29816    충청도
          Area  Population
Region
강원도     1251.5    127872.5
전라도      430.0   1458915.0
충청도      659.5    753385.5

In [16]:
#Pandas 기술을 활용하여 기초적인 데이터 처리해보기

import pandas as pd

#두 DataFrame 정의
df1 = pd.DataFrame([["apple", "Fruit", 120],
                   ["orange", "Fruit", 60],
                   ["banana", "Fruit", 100],
                   ["pumkin", "Vegetable", 150],
                   ["potato", "Vegetable", 80]],
                  columns=["Name", "Type", "Price"])

df2 = pd.DataFrame([["onion", "Vegetable", 60],
                   ["carrot", "Vegetable", 50],
                   ["beans", "Vegetable", 100],
                   ["grape", "Fruit", 160],
                   ["kiwifruit", "Fruit", 80]],
                  columns=["Name", "Type", "Price"])

#df1과 df2 결합
df3 = pd.concat([df1, df2], axis=0)

#야채와 과일 각각 추출하여 Price로 정렬
df_fruit = df3.loc[df3["Type"]=="Fruit"]
df_fruit = df_fruit.sort_values(by = "Price")

df_veg = df3.loc[df3["Type"]=="Vegetable"]
df_veg = df_veg.sort_values(by="Price")

#야채와 과일을 저렴한 순으로 세개씩 선택하여 총액 계산
print(sum(df_fruit[:3]["Price"])+sum(df_veg[:3]["Price"]))

430

In [17]:
#종합 문제

import pandas as pd

index=["광수", "민호", "소희", "태양", "영희"]
columns = ["국어", "수학", "사회", "과학", "영어"]
data = [[30, 45, 12, 45, 87],[65, 47, 83, 17, 58], [64, 63, 86, 57, 46],
       [38, 47, 62, 91, 63], [65, 36, 85, 94, 36]]
df = pd.DataFrame(data, index = index, columns=columns)

#df에 "체육"이라는 새 열을 만들고 pe_column의 데이터 추가
pe_column = pd.Series([56, 43, 73, 82, 62], index=["광수", "민호", "소희", "태양", "영희"])
df["체육"]=pe_column
print(df)
print()

#수학 오름차순 정렬
df1 = df.sort_values(by="수학", ascending=True)
print(df1)
print()

#df1의 각 요소에 5점 더하기
df2 = df1 + 5
print(df2)
print()

#df의 통계 정보 중 "mean", "max", "min" 출력
print(df2.describe().loc[["mean", "max", "min"]])

    국어  수학  사회  과학  영어  체육
광수  30  45  12  45  87  56
민호  65  47  83  17  58  43
소희  64  63  86  57  46  73
태양  38  47  62  91  63  82
영희  65  36  85  94  36  62

    국어  수학  사회  과학  영어  체육
영희  65  36  85  94  36  62
광수  30  45  12  45  87  56
민호  65  47  83  17  58  43
태양  38  47  62  91  63  82
소희  64  63  86  57  46  73

    국어  수학  사회  과학  영어  체육
영희  70  41  90  99  41  67
광수  35  50  17  50  92  61
민호  70  52  88  22  63  48
태양  43  52  67  96  68  87
소희  69  68  91  62  51  78

        국어    수학    사회    과학    영어    체육
mean  57.4  52.6  70.6  65.8  63.0  68.2
max   70.0  68.0  91.0  99.0  92.0  87.0
min   35.0  41.0  17.0  22.0  41.0  48.0