In [1]:
#내부 결합의 기본

import numpy as np
import pandas as pd

data1 = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
        "year":[2001, 2002, 2001, 2008, 2006],
        "amount":[1, 4, 5, 6, 3]}
df1 = pd.DataFrame(data1)

data2 = {"fruits":["apple", "orange", "banana", "strawberry", "mango"],
        "year":[2001, 2002, 2001, 2008, 2007],
        "price":[150, 120, 100, 250, 3000]}
df2 = pd.DataFrame(data2)

#df1과 df2의 내용 확인
print(df1)
print()
print(df2)
print()

#df1과 df2의 컬럼 "fruits"를 Key로 하여 내부 결합한 DataFrame을 df3에 대입
df3 = pd.merge(df1, df2, on="fruits", how="inner")

#결과 출력
print(df3)

       fruits  year  amount
0       apple  2001       1
1      orange  2002       4
2      banana  2001       5
3  strawberry  2008       6
4   kiwifruit  2006       3

       fruits  year  price
0       apple  2001    150
1      orange  2002    120
2      banana  2001    100
3  strawberry  2008    250
4       mango  2007   3000

       fruits  year_x  amount  year_y  price
0       apple    2001       1    2001    150
1      orange    2002       4    2002    120
2      banana    2001       5    2001    100
3  strawberry    2008       6    2008    250

In [2]:
#외부 결합의 기본

import numpy as np
import pandas as pd

data1 = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
        "year":[2001, 2002, 2001, 2008, 2006],
        "amount":[1, 4, 5, 6, 3]}
df1 = pd.DataFrame(data1)

data2 = {"fruits":["apple", "orange", "banana", "strawberry", "mango"],
        "year":[2001, 2002, 2001, 2008, 2007],
        "price":[150, 120, 100, 250, 3000]}
df2 = pd.DataFrame(data2)

#df1과 df2의 내용 확인
print(df1)
print()
print(df2)
print()

#df1과 df2의 컬럼 "fruits"를 Key로 하여 외부 결합한 DataFrame을 df3에 대입
df3 = pd.merge(df1, df2, on="fruits", how="outer")

#결과 출력
print(df3)

       fruits  year  amount
0       apple  2001       1
1      orange  2002       4
2      banana  2001       5
3  strawberry  2008       6
4   kiwifruit  2006       3

       fruits  year  price
0       apple  2001    150
1      orange  2002    120
2      banana  2001    100
3  strawberry  2008    250
4       mango  2007   3000

       fruits  year_x  amount  year_y   price
0       apple  2001.0     1.0  2001.0   150.0
1      orange  2002.0     4.0  2002.0   120.0
2      banana  2001.0     5.0  2001.0   100.0
3  strawberry  2008.0     6.0  2008.0   250.0
4   kiwifruit  2006.0     3.0     NaN     NaN
5       mango     NaN     NaN  2007.0  3000.0

In [9]:
#이름이 다른 열을 Key로 결합하기

import pandas as pd

#주문 정보
order_df = pd.DataFrame([[1000, 2546, 103],
                        [1001, 4352, 101],
                        [1002, 342, 101]],
                       columns=["id", "item_id", "customer_id"])

#고객 정보
customer_df = pd.DataFrame([[101, "광수"],
                           [102, "민호"],
                           [103, "소희"]],
                          columns = ["id", "name"])

#order_df를 바탕으로 "id"를 customer_df와 결합하여 order_df에 대입
order_df = pd.merge(order_df, customer_df, left_on="customer_id", right_on="id", how="inner")

print(order_df)

   id_x  item_id  customer_id  id_y name
0  1000     2546          103   103   소희
1  1001     4352          101   101   광수
2  1002      342          101   101   광수

In [11]:
#인덱스를 Key로 결합하기

import pandas as pd

#주문 정보
order_df = pd.DataFrame([[1000, 2546, 103],
                        [1001, 4352, 101],
                        [1002, 342, 101]],
                        columns=["id", "item_id", "customer_id"])

#고객 정보
customer_df = pd.DataFrame([["광수"],
                           ["민호"],
                           ["소희"]],
                          columns = ["name"])
customer_df.index = [101, 102, 103]

#customer_df 바탕으로 "name"을 order_df 결합하여 order_df에 대입
order_df = pd.merge(order_df, customer_df, left_on="customer_id", right_index=True, how="inner")

print(order_df)

     id  item_id  customer_id name
0  1000     2546          103   소희
1  1001     4352          101   광수
2  1002      342          101   광수