In [5]:
import pandas as pd
#DataFrame 생성
data = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
       "year":[2001, 2002, 2001, 2008, 2006],
       "time":[1, 4, 5, 6, 3]}
df = pd.DataFrame(data)
print(df)
print()


index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

#series1과 series2로 DataFrame 생성하여 df에 대입
df = pd.DataFrame([series1, series2])
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

   apple  orange  banana  strawberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

In [6]:
#인덱스와 컬럼 설정
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)
df = pd.DataFrame([series1, series2])

#df의 인덱스가 1부터 시작하도록 설정
df.index = [1, 2]

print(df)

   apple  orange  banana  strawberry  kiwifruit
1     10       5       8          12          3
2     30      25      12          10          8

In [9]:
#행 추가
data = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
       "time":[1, 4, 5, 6, 3]}
df = pd.DataFrame(data)
series = pd.Series(["mango", 2008, 7], index=["fruits", "year", "time"])

df = df.append(series, ignore_index=True)
print(df)


import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
data3 = [30, 12, 10, 8, 25, 3]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

#df에 series3을 추가하여 df에 다시 대입
index.append("pineapple")
series3 = pd.Series(data3, index=index)
df = pd.DataFrame([series1, series2])

#df에 다시 대입
df = df.append(series3, ignore_index=True)

#df와 추가할 Series의 인덱스가 일치하지 않을 때의 동작을 확인
print(df)

       fruits  time    year
0       apple     1     NaN
1      orange     4     NaN
2      banana     5     NaN
3  strawberry     6     NaN
4   kiwifruit     3     NaN
5       mango     7  2008.0
   apple  orange  banana  strawberry  kiwifruit  pineapple
0     10       5       8          12          3        NaN
1     30      25      12          10          8        NaN
2     30      12      10           8         25        3.0

In [12]:
#열 추가
data = {"fruits": ["apple", "orange", "banana", "strawberry", "kiwifruit"],
       "year":[2001, 2002, 2001, 2008, 2006],
       "time":[1, 4, 5, 6, 3]}
df = pd.DataFrame(data)

df["price"] = [150, 120, 100, 300, 150]
print(df)


import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index = index)
series2 = pd.Series(data2, index=index)

new_column = pd.Series([15, 7], index=[0, 1])

#series1과 series2로 DataFrame 생성
df = pd.DataFrame([series1, series2])

#df에 새로운 열 "mango"를 만들어 new_column의 데이터를 추가
df["mango"] = new_column

print(df)

       fruits  year  time  price
0       apple  2001     1    150
1      orange  2002     4    120
2      banana  2001     5    100
3  strawberry  2008     6    300
4   kiwifruit  2006     3    150
   apple  orange  banana  strawberry  kiwifruit  mango
0     10       5       8          12          3     15
1     30      25      12          10          8      7

In [31]:
#데이터 참조

#loc은 이름으로, iloc은 번호로 데이터 참조


#이름으로 참조
data = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
       "year":[2001, 2002, 2001, 2008, 2006],
       "time":[1, 4, 5, 6, 3]}
df = pd.DataFrame(data)

print(df)
print()

df = df.loc[[1, 2], ["time", "year"]]
print(df)
print()

import numpy as np
import pandas as pd
np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#DataFrame을 생성하고 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11),10)
    
#range(시작행수, 종료행수-1)
df.index = range(1, 11)

#loc[]을 사용하여 df의 2~5행(4개 행)과 "banana", "kiwifruit"의 2열을 포함한
#DataFrame을 df에 대입
#첫 번째 행의 인덱스는 1이며, 이후의 인덱스는 정수의 오름차순
df = df.loc[range(2, 6), ["banana", "kiwifruit"]]

print(df)
print()



#번호로 참조
import pandas as pd

data = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
       "year":[2001, 2002, 2001, 2008, 2006],
       "time":[1, 4, 5, 6, 3]}
df = pd.DataFrame(data)

print(df)
print()

df = df.iloc[[1, 3], [0, 2]]
print(df)
print()

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#DataFrame 생성하고 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

#iloc[]을 사용하여 df의 2~5행(4개 행)과 "banana", "kiwifruit"의 2열을 포함한 DataFrame을 df에 대입
df = df.iloc[range(1, 5), [2, 4]]

print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

   time  year
1     4  2002
2     5  2001

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

       fruits  time
1      orange     4
3  strawberry     6

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

In [35]:
#행 또는 열 삭제
import pandas as pd
data = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
       "time":[1, 4, 5, 6, 3],
       "year":[2001, 2002, 2001, 2008, 2006]}
df = pd.DataFrame(data)

#drop()을 이용하여 df의 0, 1행 삭제
df_1 = df.drop(range(0, 2))

#drop()을 이용하여 df의 열 "year" 삭제
df_2 = df.drop("year", axis=1)

print(df_1)
print()
print(df_2)
print()

import pandas as pd
import numpy as np

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#DataFrame을 생성하고 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

#drop()을 이용하여 df에서 홀수 인덱스가 붙은 행만 남겨 df에 대입
df = df.drop(np.arange(2, 11, 2))
#np.arange(2, 11, 2)는 2에서 10까지의 수열을 2의 간격으로 추출한 것
#2, 4, 6, 8, 10이 출력
#np.arange(2, 11, 3)은 2에서 10까지의 수열을 3의 간격으로 추출한 것


#drop()을 이용하여 df의 열 "strawberry"를 삭제하고 df 대입
df = df.drop("strawberry", axis=1)
print(df)

       fruits  time  year
2      banana     5  2001
3  strawberry     6  2008
4   kiwifruit     3  2006

       fruits  time
0       apple     1
1      orange     4
2      banana     5
3  strawberry     6
4   kiwifruit     3

   apple  orange  banana  kiwifruit
1      6       8       6         10
3      4       9       9          1
5      8       2       5          8
7      4       8       1          3
9      3       9       6          3

In [45]:
#정렬
import pandas as pd

data = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
       "time":[1, 4, 5, 6, 3],
       "year":[2001, 2002, 2001, 2008, 2006]}
df = pd.DataFrame(data)
print(df)
print()

#데이터를 오름차순으로 정렬(인수에 컬럼 지정)
df = df.sort_values(by="year", ascending=True)
print(df)
print()

#데이터를 오름차순으로 정렬(인수에 컬럼 리스트 지정)
df = df.sort_values(by=["time", "year"], ascending=True)
print(df)


import numpy as np

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#DataFrame 생성, 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

#df를 "apple", "orange", "banana", "strawberry", "kiwifruit" 순으로 오름차순 정렬
#정렬한 결과로 만들어진 DataFrame을 df에 대입, 첫 번째 인수는 by 생략 가능
df = df.sort_values(by = columns)

       fruits  time  year
0       apple     1  2001
1      orange     4  2002
2      banana     5  2001
3  strawberry     6  2008
4   kiwifruit     3  2006

       fruits  time  year
0       apple     1  2001
2      banana     5  2001
1      orange     4  2002
4   kiwifruit     3  2006
3  strawberry     6  2008

       fruits  time  year
0       apple     1  2001
4   kiwifruit     3  2006
1      orange     4  2002
2      banana     5  2001
3  strawberry     6  2008

In [46]:
#필터링
data = {"fruits":["apple", "orange", "banana", "strawberry", "kiwifruit"],
       "time":[1, 4, 5, 6, 3],
       "year":[2001, 2002, 2001, 2008, 2006]}
df = pd.DataFrame(data)

print(df.index % 2 == 0)
print()
print(df[df.index % 2 == 0])
print()

import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple", "orange", "banana", "strawberry", "kiwifruit"]

#DataFrame을 생성하고 열 추가
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1, 11), 10)
df.index = range(1, 11)

#필터링 사용하여 df의 "apple" 열이 5 이상, "kiwifruit" 열이 5이상의 값을 가진 
#행을 포함한 DataFrame을 df에 대입
df = df.loc[df["apple"] >= 5]
df = df.loc[df["kiwifruit"] >= 5]

print(df)

[ True False  True False  True]

      fruits  time  year
0      apple     1  2001
2     banana     5  2001
4  kiwifruit     3  2006

In [47]:
#연습 문제

import pandas as pd
import numpy as np

index = ["growth", "mission", "ishikawa", "pro"]
data = [50, 7, 26, 1]

#Series 작성
series = pd.Series(data, index=index)

#인덱스를 알파벳 순으로 정렬한 series를 aidemy에 대입
aidemy = series.sort_index()

#인덱스가 "tutor"고, 데이터가 30인 요소를 series에 추가
aidemy1 = pd.Series([30], index=["tutor"])
aidemy2 = series.append(aidemy1)

print(aidemy)
print()
print(aidemy2)

#DataFrame 생성, 열 추가
df = pd.DataFrame()
for index in index:
    df[index] = np.random.choice(range(1, 11), 10)
#range(시작행, 종료행-1)
df.index = range(1, 11)

#loc[]을 사용하여 df의 2~5행(4개 행)과 "banana", "kiwifruit"의 2열을 포함한
#DataFrame을 df에 대입

#첫 번째 행의 인덱스는 1, 이후의 인덱스는 정수의 오름차순
aidemy3 = df.loc[range(2, 6), ['ishikawa']]
print()
print(aidemy3)

growth      50
ishikawa    26
mission      7
pro          1
dtype: int64

growth      50
mission      7
ishikawa    26
pro          1
tutor       30
dtype: int64

   ishikawa
2         4
3         6
4        10
5         5